* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #f0f0f0;
  width: 1280px;
}
.header {
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title__cv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profession {
  font-weight: 700;
  letter-spacing: 15px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.wrapper {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sub-title {
  text-decoration: underline;
}
.wrapper-main {
  gap: 10px;
}
section {
  width: 100%;
  border-bottom: 3px solid #8d8787d0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}
.main {
  display: flex;

  align-items: center;
}
.navigation {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  gap: 20px;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.my-name {
  font-weight: 900;
  letter-spacing: 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 46px;
}

.prof-text {
  font-size: 16px;
}

/**---------style-link to header --------**/
.nav__link {
  display: inline-block;

  transition: all 1s;
}

.nav__link::after {
  content: "";
  display: block;
  position: relative;
  z-index: -1;
  width: 100%;
  margin: auto;
  border-bottom: 3px solid black;
  bottom: 0.15em;
  transition: all 1s;
}
.nav__link:hover:after {
  width: 0%;
  border-bottom-width: 1px;
}
.title__cv {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.avatar {
  order: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 20px;
}
.name-coledge{
  margin-bottom: 10px;
}   